Nav {
  font-weight: 500;
}

/* .ban {
  background-image: url(./images/)
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundRepeat: "no-repeat",
    width: "100%",
    position: "relative",
    overflow: "hidden",
    color: "white",
    minHeight: "80vh",
} */

.butt {
  background-color: white;
  border: 2px solid white;
  fontsize: 14;
  padding: 18px 20px;
  color: blue;
  border-radius: 8px;
}

.butt:hover {
  background-color: #f5f5f5;
  color: #181a88;
  transition: 0.1s;
}

.my-button {
  transition: 0.3s;
  background-color: #181a88;
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  color: white;
}

.my-button:hover {
  background-color: #d9d9d93d;
  color: blue;
}

.my-buttonn {
  transition: 0.3s;
  background-color: #181a88;
  padding: 18px 20px;
  border-radius: 8px;
  border: none;
  color: white;
}

.my-buttonn:hover {
  background-color: white;
  color: #181a88;
}
.my-buttonnn {
  transition: 0.1s;
  background: transparent;
  padding: 18px 22px;
  border-radius: 8px;
  border: 3px solid white;
  color: white;
}

.my-buttonnn:hover {
  border-color: #181a88;
}

.hero-bg {
  background-image: url("./images/heroImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;

  .box {
    max-width: 800px;
  }
}

.hero-bg::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.55;
}

.ban-liver {
  background-image: url("./images/liverBan.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
}

.ban-liver::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.15;
}

.cards {
  color: #000;
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.4);
}

Form {
  Label {
    font-weight: 600;
  }

  ::placeholder {
    font-size: 14px;
  }
}

Form-Control {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  font-weight: 500;

  .head {
    font-weight: 700;
  }
}

@media (max-width: 767.98px) {
  .bgg {
    background-size: contain !important;
    min-height: auto !important;
  }
}
